.contenedor {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    /* cuantas columnas va tener y de que ancho va ser cada uno */
    grid-template-columns: 100px 200px 300px;
    /* tamaño de cada fila */
    grid-template-rows: 150px 250px;
}

.item {
    border: 5px solid #00bcd4;
    font-size: 4rem;
}

/* .item-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    grid-area: header;
}

.item-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    grid-area: side;
}

.item-3 {
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;
    grid-area: main;
} */