.contenedor {
    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    gap: 10px;
    
    /* cuantas columnas va tener y de que ancho va ser cada uno */
    /* grid-template-columns: 100px 200px 300px; */

    /* tamaño de cada fila */
    /* grid-template-rows: 100px 200px; */


    /* define que tamaño va tener cualquier fila, en caso de no saber el tamaño exacto de cada fila */
    /* grid-auto-columns: 100px; */


    /* crea nuevas columnas cada que aparezcan mas, por defecto se crea 1 fila */
    /* grid-auto-flow: column; */

    /* espacio entre filas o columnas(row-gap column-gap) o ambos gap */
}

.item {
    font-size: 4rem; 
}

.item-1 {
    border: 5px solid #C2DEDC;
    background-color: #C2DEDC;
    grid-column-start: 1;
    grid-column-end: 2;
}

.item-2 {
    border: 5px solid #ECE5C7;
    background-color: #ECE5C7;
    grid-column: 2/4;
}

.item-3 {
    border: 5px solid #CDC2AE;
    background-color: #CDC2AE;
    grid-area: 2/1/ 3/3;
}
.item-4 {
    border: 5px solid #C2DEDC;
    background-color: #C2DEDC;
    grid-row: 2/3;
}
.item-5 {
    border: 5px solid #C2DEDC;
    background-color: #C2DEDC; 
}
.item-6 {
    border: 5px solid #ECE5C7;
    background-color: #ECE5C7;
}
.item-7 {
    border: 5px solid #CDC2AE;
    background-color: #CDC2AE;
}